.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root{
--background-color: #FFF;
--IRIS: #4D5AE5;
--NAVY-BLUE: #2E2F42;
--CLOUD: #F4F4FD;
--SLATE: #434455;

}

a:hover,
a:focus{
    color: #4D5AE5;
}

.li a:hover{
    color: #404BBF;
}

.list{
    list-style: none;
}

.container{

}
.link {
    text-decoration: none
}
.link:hover {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}

/* HEADER*/

.header {
    border-bottom: 1px solid  #E7E9FC;
    
        
}

.header-nav {
   
}

.header-logo {
    color: var(--IRIS);
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    text-decoration: none;
}
.header-span{
    color: var(----NAVY-BLUE);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

}

.header-menu-list {
    color: var(--NAVY-BLUE, #2E2F42);
   
    font-weight: 500;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.header-list {}

.header-list-link {
    font-family: "Raleway", sans-serif;
    color: var(--SLATE);
    font-size: 16px; 
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-list-link:hover
.header-list-link:focus {
    color: #404bbf;
}

.header-address {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    font-style: normal
}

.header-address-menu {}

.list { list-style: none;}

.header-address-list {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(----NAVY-BLUE);
    text-decoration: none;
}

.contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--SLATE);
}
.contact :hover
.contact :focus {
    color: #404bbf;
}

/*--HERO SECTION--*/
.hero {

}

.hero-title {
background-color: var(----NAVY-BLUE);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.hero-button :hover
.hero-button :focus{
background-color: #404BBF;
cursor: pointer;
}